/* Write your CSS code here */
.link-item-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}
.link-item {
  margin-right: 20px;
}
